<ng-container *ngIf="isAuthenticated(); else authTemplate">
  <mat-sidenav-container class="app-container" [dir]="isRtl() ? 'rtl' : 'ltr'">
    <mat-sidenav #sidenav [mode]="isMobile() ? 'over' : 'side'" [opened]="!isMobile()" class="app-sidenav">

      <app-sidebar [navItems]="navItems" [isMobile]="isMobile()" (itemClicked)="closeSidenavOnMobile()">
      </app-sidebar>
    </mat-sidenav>

    <mat-sidenav-content class="sidenav-content">
      <app-header [today]="today" [isRtl]="isRtl()" [isDark]="isDark()" [currentLang]="currentLang()"
        (menuToggle)="toggleSidenav()" (langToggle)="toggleLang()" (themeToggle)="toggleTheme()" (logout)="onLogout()">
      </app-header>

      <main class="main-content">
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>

<ng-template #authTemplate>
  <main class="auth-main">
    <router-outlet></router-outlet>
  </main>
</ng-template>